.calendar {
  margin: 1rem;
}

.isCanceled {
  text-decoration: line-through;
}

.eventOptions button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  outline: none;
  padding: 5px 0.5em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  margin: 0.5rem;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

buttons:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
